.create-post-container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: relative;
}

.create-post-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Increased gap between form elements */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between label and input */
}

.form-group label {
    font-size: 1.1rem;
    color: #444;
}

.form-input, .form-input-file {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-input:focus, .form-input-file:focus {
    border-color: #007bff;
}

.quill-editor {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 300px;
}

.submit-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 15px 25px; /* Increased padding for button */
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    margin-top: 30px; /* Increased spacing above the button */
}

.submit-button:hover {
    background-color: #0056b3;
}
