.post-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding: var(--padding);
    background-color: var(--background-color);
}

.post-list-container > * {
    max-width: 85%;
    width: 100%;
    box-sizing: border-box;
    transition: transform var(--transition-speed);
}

.post-list-container > *:hover {
    transform: scale(1.02);
}
