.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.login-container {
    background: var(--background-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 400px;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-color);
}

.error-message {
    background: var(--error-background);
    color: var(--error-color);
    margin-bottom: 1rem;
    text-align: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: var(--margin);
    font-size: var(--body-font-size);
    color: var(--text-color);
    background-color: var(--input-background);
    box-shadow: var(--box-shadow);
}

input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
    transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

button {
    background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
    border: none;
    border-radius: var(--border-radius);
    color: var(--button-text);
    padding: var(--padding);
    font-size: var(--body-font-size);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}
