.search-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    color: var(--text-color);
    box-sizing: border-box;
    line-height: 1.5;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-85%);
    font-size: 1.2rem;
    color: var(--text-color);
}
